// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  background-image: linear-gradient(rgba(29,77,79,0.4),rgba(29,77,79,0.4)), asset-url('josefine-quer.png');
  color: $light-gray;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.container {
  text-align: right;
  margin-top: 100px;
  margin-right: 80px;
}

.container > h1 {
  font-size: 48px;

}
