// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../images/josefine_profile_picture.jpeg');
}
