<div class="container">
  <div class="about mb-2">
    <h2><i class="fas fa-terminal"></i>about</h2>
    <p>I am a 28-year-old experienced Marketing Manager with a demonstrated history of working in the marketing and advertising industry, who wants to change her profession and work as a fullstack web developer.
      I recently graduated from Le Wagon’s 9-week fullstack coding bootcamp in Tel Aviv with skills in Ruby on Rails, HTML, CSS and Javascript.
      I build elegant, functional and user-friendly websites and web applications, and continue to improve my programming knowledge. I am currently learning React JS.</p>
  </div>
  <div>
    <%= link_to "My CV", "/CV_Josefine_Theden-Schow.pdf", target: "_blank", class: "btn-turquoise" %>
  </div>
</div>
