<div class="container">
  <div class="about mb-2">
    <h2><i class="fas fa-less-than"></i>then<i class="fas fa-greater-than"></i></h2>
      <p>
        September 2019, I changed my career in a way I never thought I would.
        Having worked as a marketing manager for two years at Germany’s biggest
        news-publishing company Axel-Springer SE, I gradually felt a growing
        desire to pursue a more meaningful career. As a consequence, I handed
        in my resignation and committed to learning how to code in a 9-week
        full-stack coding boot camp in Tel Aviv, Israel. I learned
        Ruby on Rails, HTML, CSS and JavaScript within nine weeks, and built
        my very own first project: a social network where you can review movies
        you’ve watched and create personal watchlists to inspire your community.
        I am convinced that code is the language of the future and that smart
        solutions driven by cutting edge technology will play a significant role
        in tackling our main societal challenges. The solution-oriented and at
        the same time, creative work in programming was incredibly fun and showed
        me that you can learn everything with ambition and the right motivation.
      </p>
    <h2><i class="fas fa-less-than"></i>now<i class="fas fa-greater-than"></i></h2>
      <p>
        Now I am a <%= Time.now.year - 1991 %>-year-old experienced Marketing Manager with a demonstrated
        history of working in the marketing and advertising industry, who wants
        to change her profession and work for a company with a greater purpose
        that aims to make the world a better place. With the inevitable climate
        catastrophe unfolding within this century and the societal challenges it
        brings, I am determined to use my human capital by working for a company
        that is committed to engaging in the process of tackling these major
        challenges. I look forward to contributing my own experiences and insights
        to develop solutions for current problems and make a relevant contribution.
      </p>
      <p>
        Throughout my education and professional life this far, I strived to be
        motivated, innovative, goal-oriented and curious, and to have a great
        sense of responsibility and reliability. My open and inquisitive nature
        would allow me to easily integrate myself into a new environment and work
        closely with my future colleagues.
      </p>
    <br>
    <%= link_to "Contact me", contact_path, class: "btn-turquoise" %>
    <%= link_to "Download my CV", "/CV_Josefine Theden-Schow.pdf", target: "_blank", class: "btn-turquoise ml-2" %>
  </div>
</div>
