<div class="container">
  <div class="about mb-2">
    <h2><i class="fas fa-less-than"></i>then<i class="fas fa-greater-than"></i></h2>
      <p>
        Four months ago, I changed my career in a way I never thought I would. I quit my job at Germany’s biggest news-publishing company Axel-Springer and traveled to Tel Aviv to join Le Wagon’s 9-weeks full stack coding boot camp.
        I learned Ruby on Rails, HTML, CSS and JavaScript within a nine week period, and built my first project: a social network where you can review movies you’ve watched and create personal watchlists to inspire your community.
      </p>
    <h2><i class="fas fa-less-than"></i>now<i class="fas fa-greater-than"></i></h2>
      <p>
        Now I am a 28-year-old experienced Marketing Manager with a demonstrated history of working in the marketing and advertising industry, who wants to change her profession and work as a fullstack web developer.
        I build elegant, functional and user-friendly websites and web applications, and continue to improve my programming knowledge. I am currently learning React JS.
      </p>
      <p>
        I am responsible, goal-oriented and conscientious, and have a great sense of duty and reliability.
        Because of my friendly, open and courteous nature, it is easy for me to integrate into a new environment and work closely with members of the team.
      </p>
    <br>
    <%= link_to "Download my CV", "/CV_Josefine Theden-Schow.pdf", target: "_blank", class: "btn-turquoise" %>
  </div>
</div>
