<div class="container">
  <div class="text-center follow">
    <h2 class="mb-4">Let's keep in touch:</h2>
      <%= link_to "mailto:#{@email}", class: "follow-icon" do  %>
        <i class="far fa-envelope"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/josefine-theden-schow/", target: "_blank", class: "follow-icon" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <%= link_to "https://github.com/jthedens", target: "_blank", class: "follow-icon" do  %>
        <i class="fab fa-github"></i>
      <% end %>
  </div>

  <%= render 'shared/form' %>
</div>
