<div class="banner">
  <div class="container text-right">
      <h1>Josefine Theden-Schow</h1>
      <h2>Fullstack Developer | Berlin</h2>
<!--       <a class="btn-turquoise" href="#">Find out more!</a>
 -->
  </div>
</div>
