.btn-turquoise {
  background-color: $mid-green;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;

  &:hover {
    background-color: #357376b8;
    text-decoration: none;
    color: white;
    }
}
